<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.emo.emomediaplayerpro">

    <application
        android:name="com.emo.emomediaplayerpro.Application"
        android:allowBackup="true"
        android:icon="@drawable/icon_app"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_app"
        android:supportsRtl="true"
        android:theme="@style/AppThemeTwo">

        <service android:name="com.emo.emomediaplayerpro.model.domain.androidservices.MediaControllerService"
            android:exported="false"
            android:description="@string/mediaServiceDescription">
        </service>

        <activity
            android:name="com.emo.emomediaplayerpro.view_ui.view.NagizarActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.emo.emomediaplayerpro.view_ui.view.EqualizerActivity"
            android:label="@string/title_activity_equalizer"
            android:screenOrientation="portrait"></activity>
    </application>


    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"></uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>


</manifest>